* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
}

a { 
    text-decoration: inherit;
    color: #fff;
}

ul {
    list-style: none ;
}


body {
    background-color: #FF7B54;
    color: inherit; 
}